$sidebar-width: 200px;
$header-height: 92px;

$color-gray-1: #b3b3b3;
$color-gray-2: #5e5e5e;
$color-gray-3: #323232;
$color-primary: #a17dea;
$color-primary-variant: #7d4dfe;

$spacing: 20px;
$header-size: 40px;

$font-size-huge: 36px;
$font-size-large: 24px;
$font-size-normal: 18px;
$font-size-smol: 15px;
$font-size-tiny: 10px;